<section id="bsis-color-references">
  <strong class="section-title">Color References</strong>
  <div class="form-container">
    <div class="row" id="color-refs">
      <div class="col-xs-4 color-type-box">
        <div class="color-type">
          <strong>Background</strong>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".bg-one">
            <button class="remove-color-btn">&times;</button>
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".bg-two">
            <button class="remove-color-btn">&times;</button>
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".color-two">
            <button class="remove-color-btn">&times;</button>
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".color-two">
            <button class="remove-color-btn">&times;</button>
          </md-input-container>
        </div>
        <button md-button class="add-color-btn">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
      <div class="col-xs-4 color-type-box">
        <div class="color-type">
          <strong>Text Color</strong>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".color-one">
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".color-two">
          </md-input-container>
        </div>
        <button md-button class="add-color-btn">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
      <div class="col-xs-4 color-type-box">
        <div class="color-type">
          <strong>Buttons</strong>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".btn-one">
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".btn-two">
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder=".btn-two">
          </md-input-container>
        </div>
        <button md-button class="add-color-btn">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
    </div>

  </div>
</section>