#color-refs {
    display: flex;
}

.color-type-box {
    border-right: 1px solid #d9d9d9;
    text-align: center;
}

.color-type {
    min-height: 200px;
    position: relative;
    padding-bottom: 50px;
}

.color-type-box:last-child {
    border-right: 0;
}

.add-color-btn {
    bottom: 0;
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    background-color: #0B1A6B;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.add-color-btn span {
    position: relative !important;
    left: -6px !important;
}

.remove-color-btn{
    position: absolute;
    right: -5px;
    font-size: 23px;
    color: red;
    top: 2px;
    font-weight: 700;
    background: none;
    border: none;
}