<section id="bsis-color-references">
  <strong class="section-title">Color References</strong>
  <div class="form-container" [formGroup]="bsisForm.get('colorRefs')">
    <div class="row" id="color-refs">
      <div class="col-xs-4 color-type-box">
        <strong>Background</strong>
        <div class="color-type" formArrayName="backgroundColor">
          <md-input-container class="example-full-width"
                              *ngFor="let bgColor of backgroundColorFormArray.controls; let i=index"
                              [formGroupName]="i">
            <input mdInput [placeholder]="bgColor.get('className').value" formControlName="color">
            <button type="button" class="remove-color-btn"
                    (click)="removeColorRef(backgroundColorFormArray,i)">&times;
            </button>
          </md-input-container>
        </div>
        <button type="button" md-button class="add-color-btn" (click)="addColorRef(backgroundColorFormArray, 'bg')">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
      <div class="col-xs-4 color-type-box">
        <strong>Text Color</strong>
        <div class="color-type" formArrayName="textColor">
          <md-input-container class="example-full-width"
                              *ngFor="let txtColor of textColorFormArray.controls; let i=index"
                              [formGroupName]="i">
            <input mdInput [placeholder]="txtColor.get('className').value" formControlName="color">
            <button type="button" class="remove-color-btn"
                    (click)="removeColorRef(textColorFormArray, i)">&times;
            </button>
          </md-input-container>
        </div>
        <button type="button" md-button class="add-color-btn" (click)="addColorRef(textColorFormArray, 'color')">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
      <div class="col-xs-4 color-type-box">
        <strong>Buttons</strong>
        <div class="color-type" formArrayName="buttonColor">
          <md-input-container class="example-full-width"
                              *ngFor="let btnColor of buttonColorFormArray.controls; let i=index"
                              [formGroupName]="i">
            <input mdInput [placeholder]="btnColor.get('className').value" formControlName="color">
            <button type="button" class="remove-color-btn"
                    (click)="removeColorRef(buttonColorFormArray,i)">&times;
            </button>
          </md-input-container>
        </div>
        <button type="button" md-button class="add-color-btn" (click)="addColorRef(buttonColorFormArray, 'btn')">
          <md-icon>add</md-icon>
          Add color
        </button>
      </div>
    </div>

  </div>
</section>