<section id="bsis-color-references">
  <strong class="section-title">Color References</strong>
  <div class="form-container">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Project Name">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Description">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Author">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Project CSS Component Prefix">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Layout Setup">
    </md-input-container>
  </div>
</section>