@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
|--------------------------------------------------------------------------
| Stylesheet Information                                                  
|--------------------------------------------------------------------------
|                                                                         
| Project Layout Name: STIHL-Reparaturen                                  
| Author: Edmon Villanueva                                                
| Description: 
| Layout Setup: Mobile First
| Project CSS Component Prefix: sr-*
|
|--------------------------------------------------------------------------
|                             Color Reference
|--------------------------------------------------------------------------
|      Background       |        Text           |         Button
|--------------------------------------------------------------------------
| #232C33               |      #F10002          | #F37A1F
| #656C71               |                       | #9EA2A5
| #D3D5D6               |                       | 
| #F10002               |                       | 
|--------------------------------------------------------------------------
*/


body{
   font-size: 16px; 
   font-family: 'Opens-Sans' sans-serif;
}

h1{
   
}

h2{
   
}

h3{
   
}

h4{
   
}

h5{
   
}

small{
   
}

strong{
   
}

a{
   text-decoration: none;
   color: #fff;
}

a:hover{
   text-decoration: none;
}


button:focus,
input:focus,
textarea:focus,
a:focus{
   outline: none;
}


/*
|--------------------------------------------------------------------------
| Flex classes
|--------------------------------------------------------------------------
*/

.flex{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
}

.flex.-column{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.flex.-no-wrap{
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
}

.flex.-items-center{
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -ms-grid-row-align: center;
   align-items: center;
}

.flex.-jc-center{
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.flex.-ai-center{
   -webkit-box-align: center;
   -ms-flex-align: center;
   -ms-grid-row-align: center;
   align-items: center
}


/*
|--------------------------------------------------------------------------
| Helper classes
|--------------------------------------------------------------------------
*/

.-margin-zero{
   margin: 0 !important;
}

.-padding-zero{
   padding: 0 !important;
}

.-padding-rzero{
   padding-right: 0 !important;
}

.-padding-lzero{
   padding-left : 0 !important;
}


/*
|--------------------------------------------------------------------------
| Background color classes
|--------------------------------------------------------------------------
*/

.bg-one{
   /* bg for header */
   background-color: #232C33;
}


/*
|--------------------------------------------------------------------------
| Text color classes
|--------------------------------------------------------------------------
*/

.color-one{
   
}

/*
|--------------------------------------------------------------------------
| Button/Link  classes
|--------------------------------------------------------------------------
*/

button.color-one:hover,
button.color-one:focus{
   color: #fff;
}

button.bg-one:hover,
button.color-one:focus{
   background-color: #fff; 
}

a.color-one:hover,
a.color-one:focus{
   color: #fff;
}

a.bg-one,
a.color-one:focus{
   background-color: #fff; 
}


/*
|--------------------------------------------------------------------------
| Custom Layout Classes
|--------------------------------------------------------------------------
|
| Write your own project layout css here! 
| EG. #sr-wrapper, .sr-box, #sr-category-box
|
*/

.sr-btn{
   width: inherit; 
   height: inherit; 
}

